*{
  padding: 0
  margin: 0
}
body,html
{
  padding 0;
  margin 0;
  height 100%;
  position absolute;
  top 0;
  left 0;
  right 0;
  bottom 0;
  font-family: '微軟正黑體'
  font-size: 1.2rem
  // font-weight: bolder
}
#sidebar{
  position fixed 
  top 0  
  left 0 
  z-index 999
  .bm-burger-bars {
    box-shadow: 0rem 0rem 0.5rem rgb(255, 255, 255)
    }
  }
#main{
  height: 100%
  width: 100%
  position: absolute
  overflow hidden
}
#menu{
  height: 100%
  width: 100%
  position: fixed
  overflow-x: hidden
  box-sizing: border-box;
  padding: 1rem
}
#market{
  height: 100%
  width: 100%
  position: absolute
  }
#story{
  height: 100%
  width: 100%
  position: absolute
  }
#news{
  height: 100%
  width: 100%
  position: absolute
  }
#location{
  height: 100%
  width: 100%
  position: absolute
  margin: 0
  padding: 0
}
#member{
  height: 100%
  width: 100%
  position: absolute
}
#member_login{
  height: 100%
  width: 100%
  position: absolute
}
#cart{
  height: 100%
  width: 100%
  position: absolute
}
#back{
  height: 100%
  width: 100%
  position: absolute
}
#flipbook{
  .flipbook{
    .viewport{
      .container{
        padding-left:0px !important
      }
    }
  }
}
.vs-table-text{
  justify-content: center !important
  }
.td{
  flex: block
  text-align: center
  }
.b-form-file{
  overflow hidden
}
.vs-component {
  margin: auto
  }
.vs-icon{
  font-size 0rem !important
  dipalay:none
}
.checkbox_x{
  display none !important
}
.btntext{
  font-size 0.5rem !important
  text-shadow: 0.2rem 0.2rem 0.5rem rgba(0,0,0,0.2)
}
.text{
  font-size 0.5rem !important
  text-shadow: 0.2rem 0.2rem 0.5rem rgba(0,0,0,0.2)
}
.item{
  font-size 0.8rem !important
  text-shadow: 0.2rem 0.2rem 0.5rem rgba(0,0,0,0.2)
  font-weight: normal
}
.title{
  font-size 1.2rem !important
  text-shadow: 0.2rem 0.2rem 0.5rem rgba(0,0,0,0.2)
}
.title-lg{
  font-size 1.8rem !important
  text-shadow: 0.2rem 0.2rem 0.5rem rgba(0,0,0,0.2)
}
.font{
  font-size 0.3rem !important
  text-shadow: 0.2rem 0.2rem 0.5rem rgba(0,0,0,0.2)
  }
.bigtitle{
  font-size 2.3rem !important
}
.vs-table-text{
  text-align center
  margin auto
}
.vs-table--td{
  span{
    display: flex
    justify-content: center
    margin: auto !important
    text-align: center
    div{
      margin: auto
    }
    .empty{
      display: none}
  }
}
.material-icons{
    font-size 0px !important
    background red
}
@media (min-width : 768px){
  .bigtitle{
    font-size 3rem !important
  }
  .text{
    font-size 1rem !important
    margin auto
    text-shadow: 0.2rem 0.2rem 0.5rem rgba(0,0,0,0.2)
  }
  .item{
    font-size 1rem !important
    text-shadow: 0.2rem 0.2rem 0.5rem rgba(0,0,0,0.2)
    font-weight: normal
  }
  .title{
    font-size 1.5rem !important
    text-shadow: 0.5rem 0.5rem 0.5rem rgba(0,0,0,0.2)
    }
    .title-lg{
    font-size 2rem !important
    text-shadow: 0.5rem 0.5rem 0.5rem rgba(0,0,0,0.2)
  }
  .btntext{
    font-size 1rem !important
    text-shadow: 0.5rem 0.5rem 0.5rem rgba(0,0,0,0.2)
  }
  .font{
  font-size 1.8rem !important
  text-shadow: 0.5rem 0.5rem 0.5rem rgba(0,0,0,0.2)
  }
}
h1,h2,h3,h4,h5{
  text-shadow: 0.5rem 0.5rem 0.5rem rgba(0,0,0,0.2)
}
