*{
  padding: 0
  margin: 0
}
body,html
{
  padding 0;
  margin 0;
  height 100%;
  position absolute;
  top 0;
  left 0;
  right 0;
  bottom 0;
  font-family: '微軟正黑體'
}
#sidebar{
  position fixed 
  top 0  
  left 0 
  z-index 999
  .bm-burger-bars {
    box-shadow: 0rem 0rem 0.5rem rgb(255, 255, 255)
    }
  }
#main{
  height: 100%
  width: 100%
  position: absolute
  overflow hidden
}
#menu{
  height: 100%
  width: 100%
  position: fixed
  overflow-x: hidden
  box-sizing: border-box;
  padding: 1rem
}
#story{
  height: 100%
  width: 100%
  box-sizing: border-box;
  }
#news{
  height: 100%
  width: 100%
  position: absolute
  }
#location{
  height: 100%
  width: 100%
  position: absolute
  margin: 0
  padding: 0
}
#member{
  height: 100%
  width: 100%
  position: absolute
  }
#member_login{
  height: 100%
  width: 100%
  position: absolute
}
#back{
  height: 100%
  width: 100%
  position: absolute
}
#flipbook{
  .flipbook{
    .viewport{
      .container{
        padding-left:0px !important
      }
    }
  }
}